# Melos
.melos/
packages/*/melos/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.buildlog/
.packages
.pub-cache/
.pub/
build/

# macOS
.DS_Store
